*
{
    margin:0%;
    padding:0%;
    box-sizing: border-box;
}

body
{
    height: 100vh;
    width: 100%;
}

.box
{
    height: 100vh;
    width: 95%;
    margin: auto;
}

.nav
{
    height: 50px;
    width: 100%;
    background-color:#e1e1ec ;
}

.nav h1
{
    margin-left: 80px;
    font-family: "Google Sans", Roboto, arial, sans-serif;
    font-weight: bold;
    line-height: 50px;
    color: #021D49;
}

.button
{
    margin-top: -45px;
    float: right;
    margin-right: 70px;
}

button
{
    background-color: #FF4700;
    padding: 10px;
    border-radius: 10px;
    font-family: "Google Sans", Roboto, arial, sans-serif;
    font-weight: bold;
}

.banner
{
    height: 80vh;
    width: 100%;
    margin: auto;
}

.one
{
    height: 466px;
    width: 50%;
    float: left;
}

.two
{
    height: 466px;
    width: 50%;
    float: left;
}

.two img
{
    height: 510px;
    width: 100%;
}

.one h1
{
    width: 70%;
    margin-top: 80px;   
    margin-left: 80px;
    font-family: "Poppins", serif;
    font-weight: bold;
    color: #021D49;
}

.one h5
{
    width: 90%;
    margin-top: 12px;
    margin-left: 80px;
    font-family: "Poppins", serif;
    font-weight: 700;
    color: #021D49;
}

.one h6
{
    margin-left: 150px;
    margin-top: 20px;
    font-family: "Poppins", serif;
    font-weight: normal;
    color: #021D49;
}

.one button
{
    color:white;
    border: 1px solid black;
    margin-left: 150px;
    margin-top: 10px;
}

h4
{
    font-family: "Poppins", serif;
    font-weight: normal;
    color: #021D49;
    margin-left: 200px;
    margin-top: 10px;
}

h3
{
    font-family: "Poppins", serif;
    font-weight: normal;
    color: #021D49;
    margin-left: 90px;
    margin-top: 10px;

}

.footer
{
    background-color: darkblue;
    height: 50px;
    width: 100%;
    
}

.i3
{
    height: 50px;
    width: 10%;
    margin-left: 50px;
    line-height: 50px;
    filter: grayscale(100);
    transition: 0.7s;
}

.i3:hover
{
    filter: grayscale(0);
}

.i4
{
    height: 50px;
    width: 10%;
    margin-left:100px;
    line-height: 50px;
    filter: grayscale(100);
    transition: 0.7s;
}

.i4:hover
{
    filter: grayscale(0);
}

.i5
{
    height: 50px;
    width: 10%;
    margin-left: 100px;
    line-height: 50px;
    filter: grayscale(100);
    transition: 0.7s;
}

.i5:hover
{
    filter: grayscale(0);
}

.i6
{
    height: 50px;
    width: 10%;
    margin-left: 100px;
    line-height: 50px;
    filter: grayscale(100);
    transition: 0.7s;
}

.i6:hover
{
    filter: grayscale(0);
}

.i7
{
    height: 50px;
    width: 10%;
    margin-left: 100px;
    line-height: 50px;
    filter: grayscale(100);
    transition: 0.7s;
}

.i7:hover
{
    filter: grayscale(0);
}




